##############################################################################
Test coverage for {{file}}
##############################################################################


.. test_coverage:: Test coverage for {{file}}
   :id: TCOVER_{{name|upper}}
   :pathfile: {{file}}
   :coverage: {{coverage}}
   :github_edit_url: {{github_edit_url}}


